?*~
\#?*#
.#?*#

/build/

/.cache/

/.vscode/

/protos/?*.hpp
/protos/?*CdrAux.[hi]pp
/protos/?*PubSubTypes.cxx
/protos/?*PubSubTypes.hpp
/protos/?*TypeObjectSupport.cxx
/protos/?*TypeObjectSupport.hpp
